.App {
}
.advertisementCard {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.jobCard {
  cursor: pointer;
}

.jobCard:hover {
  box-shadow: 2px 5px 1px darkgrey !important;
}
.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
